ul  {
    list-style-type: none;
  }

  body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }

  .card {
    
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 25px;
    /* 5px rounded corners */
    padding: 5px;
    background-color: aquamarine;
    margin: 5px;

}
